# version: '3.1'

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:latest
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx_certs:/etc/nginx/certs:rw
      - nginx_vhost:/etc/nginx/vhost.d
      - nginx_html:/usr/share/nginx/html
      - ./nginx/vhost.d:/etc/nginx/vhost.d:ro
    networks:
      - webnet

  letsencrypt:
    image: nginxproxy/acme-companion:latest
    container_name: nginx-proxy-acme
    restart: always
    environment:
      - DEFAULT_EMAIL=${EMAIL}
      - NGINX_PROXY_CONTAINER=nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - nginx_certs:/etc/nginx/certs:rw
      - nginx_vhost:/etc/nginx/vhost.d
      - nginx_html:/usr/share/nginx/html
    networks:
      - webnet

  web:
    image: odoo:${ODOO_VERSION}
    container_name: odoo
    labels:
      - "com.github.nginxproxy.nginx-proxy.virtual_host=${DOMAIN}"
      - "com.github.nginxproxy.nginx-proxy.virtual_port=${VIRTUAL_PORT}"
      - "com.github.nginxproxy.acme-companion.letsencrypt_host=${DOMAIN}"
      - "com.github.nginxproxy.acme-companion.letsencrypt_email=${EMAIL}"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - PASSWORD_FILE=/run/secrets/pg_pass
    secrets:
      - pg_user
      - pg_pass
    expose:
      - "8069"
      - "8072"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons:rw
    command: >
      -- --dev=reload
      --without-demo=all
      -d odoo-test
      -u all
    depends_on:
      db:
        condition: service_healthy
    restart: always
    networks:
      - webnet
      - dbnet

  db:
    image: postgres:15
    container_name: odoo-db
    environment:
      - POSTGRES_DB=odoo-test
      - POSTGRES_USER_FILE=/run/secrets/pg_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/pg_pass
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "54321:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - pg_user
      - pg_pass
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - dbnet
      - webnet

volumes:
  odoo-web-data:
  odoo-db-data:
  nginx_certs:
  nginx_vhost:
  nginx_html:

secrets:
  pg_user:
    file: secrets/pg_user
  pg_pass:
    file: secrets/pg_pass

networks:
  webnet:
  dbnet: