# version: '3.1'
services:
  web:
    image: odoo:17.0
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8069:8069"
    deploy:
      mode: replicated
      replicas: 1
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons:rw
    environment:
      - PASSWORD_FILE=/run/secrets/postgresql_password
    secrets:
      - postgresql_password
    command: >
      -- --dev=reload
      --without-demo=all
      -d odoo-test
      -u all
    restart: always

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=odoo-test
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "54321:5432"
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

# Let Docker Managed the Volumes
# Delete this line below for "you managed volumes"
# then on each service rename the volumes 
# example:
# (from) -> odoo-db-data:/var/lib/postgresql/data/pgdata
# (to) -> ./odoo-db-data:/var/lib/postgresql/data/pgdata
volumes:
  odoo-web-data:
  odoo-db-data:

secrets:
  postgresql_password:
    file: secrets/odoo_pg_pass
